<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4 class="blog-about-section">About</h4>
    <p>This blog is dedicated to providing useful insights on the latest web technologies, as well as my point of view on web development. </p>
  </div>



  <div class="sidebar-module ">
    <center>
      <h4><%= link_to "Topics", topics_path %>
      </h4>
      <h6 class="small">(Click for More)</h6>
      <hr>
        <% @side_bar_topics.each do |topic| %>
          <p><%= link_to topic.title, topic_path(topic)%> </p>
        <% end %>

    </center>  
  </div>



  <div class="sidebar-module">
    <center>
      <h4 class="blog-about-section">Find Me At</h4>
      <hr>

      <ol class="list-unstyled">
        <li> <h5><a href="mailto:petertran198@gmail.com?subject=PortfolioContact" "email me" class="pulse-grow"><%=fa_icon "envelope",class: "icon pulse"%> </a></h5></li>
        <li><h5><a href="https://github.com/Petertran198" target="_blank" rel="noopener noreferrer"><%=fa_icon "github",class: "icon pulse"%></a></h5></li>
        <li><h5><a href="https://www.linkedin.com/in/petertran-web-developer/" target="_blank" rel="noopener noreferrer"><%=fa_icon "linkedin-square",class: "icon pulse"%></a></h5></li>
      </ol>
    </center>
  </div>
</div>
