  <h1 class="h1-style ">Web Developer</h1>

  <div class="card p-2">
    <div class="app-card-container mt-2 ">


    <div class="row">
      <div class="col-md-4 ">
        <%= image_tag "peter.png", style: 'height:350px;width:auto;', alt: "profile image", class: 'p-1' %>

      </div>

      <div class="col-md-8 ">
        <p class="">Hello my name is Peter and I am a web developer. I spend anytime I can perfecting and sharpening my technology stack. I love learning new things and cannot picture myself doing anything else. For me it is not just a job, but something I do out of passion. I invariably put 110% in every project I work on, for I am grateful to be in this field. </p>
        <p>I followed my heart and changed from a business background to a web development major. Even though I went to school full time, I felt that it wasn't challenge me enough. As a result, I also attended three coding bootcamps at night. My schedule was hectic, but I loved every minute of it. From those three bootcamps and college, I extended my knowledge of Ruby, CSS, JavaScript, Php, Adobe CC, user interface design amongst other programing technologies. </p>
 
       <button
        class="btn btn-outline-dark mr-1"
        type="button"
        data-toggle="collapse"
        data-target="#education"
        aria-expanded="false"
        aria-controler="education"> 
          Education
        </button>

          <button
            class="btn btn-outline-primary "
            type="button"
            data-toggle="collapse"
            data-target="#skill"
            aria-expanded="false"
            aria-controler="skill"
          >
            Skills
          </button>  

          <a href="https://drive.google.com/file/d/15roQuQN4ZQf8p0S4JYtBslVJtnJAFyf2/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-link"> Resume <%=fa_icon "download"%></a>









      </div>
    </div>
            <div class="collapse" id="education">
              <div class="card card-body ">
                <h5>Wake Tech Community College   -<small class="mb-1 font-weight-light"> Associates in Web Development </small></h5>

                <div> I had a very good experience at Wake Tech. I learn a lot, but not limited to conceptual programming, design principles, JavaScript, PHP, database concepts, web analytic, and SEO integration. The teachers were very knowledgable and the school provided a lot of resources for our success. They provided everyday personal tutor as well as online help in the form of Lynda.com </div>

                <hr>
                <h5>Code Immersion   -<small class="mb-1 font-weight-light"> Tech Talent South (2 months)</small></h5>

                <div> TTS is one of the top 5 boot camp in the Southern States and was rated the top 50 boot camp in America by CourseReport. I took the 2 month Code Immersion course which taught Full Stack development. This skills and tools I learned are HTML, CSS, Bootstrap, Ruby, Ruby on Rails, Javascript, and Version Control. </div>

                <hr>
                <h5>Javascript Application Development   -<small class="mb-1 font-weight-light"> Tech Talent South (3 months)</small></h5>

                <div> After having a good experience taking the Code Immersion program at TTS, I applied for a second course at this bootcamp. This time it is a three month bootcamp that taught me language concepts,Javascript, JQuery, React, and Firebase. </div>
                <hr>
                <h5>Next Level Rails -<small class="mb-1 font-weight-light"> Tech Talent South (1 month)</small></h5>

                <div> Wanting to better my Ruby on Rails skills I decided to take the leap and took the advance ROR course offered by TTS. Next Level Rails taught me Test Driven Development, automated testing, and building my own API.</div>                
             </div>
            </div>

            <div class="collapse" id="skill">
              <div class="card card-body about-card-bg">
                <% @skills.each do |skill| %>
                  <div class="row">
                    <div class="col-md-3">
                      <h5 class="lead"><%= skill.title %></h5>              
                    </div><!--end of first col-->
                    <div class="col-md-8">
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="<%= skill.percent_utilized %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill.percent_utilized %>%">
                        </div>
                      </div>
                   </div>                     
                  </div><!--end of row-->   
                <% end %>

  </div>
</div><!-- end of container-->
