<div class= "login-pg">
  <div class="card">
    <div class="card-block">
      <h2 class="login-font">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "login-font" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-text-field" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "login-font" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "login-text-field" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "login-font" %>
            </div>
          <% end -%>

          <div class="form-group">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="auth-links register-text">
          <%= render "devise/shared/links" %>
        </div>
        

    </div>
  </div>
</div>





